Classes/__pycache__/AddWindowClass.cpython-38.pyc
Classes/__pycache__/EditWindowClass.cpython-38.pyc
Classes/__pycache__/HelpWindowClass.cpython-38.pyc
Classes/__pycache__/MainWindowClass.cpython-38.pyc
Classes/__pycache__/QToasterClass.cpython-38.pyc
Classes/__pycache__/SettingsWindowClass.cpython-38.pyc
.vscode/settings.json

